.navLink {
	width: 100px;
	padding: 20px;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}
.nav {
	max-width: 1000px;
	margin: 20px auto;
	text-align: center;
}
.active {
	color: blueviolet;
	font-size: 28px;
}
